.top-nav {
    position: fixed;
    top: 0;
    height: 50px;
    font-family: "Titillium";
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    width: 80%;
    padding-top: 2%;
    margin: 0 10%;
    z-index: 999;
}

.active {
    border-bottom: 1.5px solid #885249;
}

.nav-logo {
    width: 50%;
    text-align: center;
}

.nav-logo > a > img {
    width: 80px; 
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.nav-logo > a > img:hover {
    transform: rotate(540deg);
}

.nav-items {
    width: 25%;
}

.social {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.social img {
    width: 25px;
    height: 25px;
    margin: 2vh;
    filter: saturate(0);
    transition: filter 0.2s ease-in, transform 0.2s ease-in;
}

.social img:hover {
    filter: saturate(1);
    transform: scale(1.2);
}

.nav-items {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    transition: opacity 0.2s ease-in;
}

.nav-items li a, .side-nav li a {
    text-decoration: none;
}

.nav-items > li > a {
    margin-right: 50px;
    color: #885249;
    letter-spacing: 1.5px;
}

.nav-items > li {
    padding: 1vh 0;
}

.nav-items > li > a {
    padding: 2% 0px;
}

.nav-items > li >  a:hover {
    border-bottom: 1.5px solid #885249;
}

@media (max-width: 1000px) {
    .show-icon {
        cursor: pointer;
        background: transparent;
        width: 25%;
        outline: none;
        width: 50px;
        align-self: center;
        margin-top: -10px;
    }

    .line:first-of-type {
        margin-top: 50%;
    }

    .line:not(:first-of-type) {
        margin-top: 6px;
    }

    .line {
        display: flex;
        height: 1.5px;
        background-color: #885249;
        width: 80%;
    }
    
    .nav-logo {
        margin-right: 10%;
    }
    
    .side-nav {
        position: fixed;
        display: block;
        background: #343131;
        left: 0;
        bottom:0;
        top:0;
        width: 0;
        opacity: 0;
        z-index: -1;
        margin: 0;
        padding: 0 2% 0 5%;
        box-shadow: 0 -5px 30px 10px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0 -5px 30px 10px rgba(0,0,0,0.25);
        -moz-box-shadow: 0 -5px 30px 10px rgba(0,0,0,0.25);
        will-change: width;
    }

    .side-nav li {
        width: 100%;
        margin-top: 2vh;
        list-style: none;
    }

    .side-nav li a {
        font-family: Titillium;
        font-weight: bold;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 1.1em;
        color: #fff;
    }

    .side-nav li a:hover, .side-nav li a:active {
        color: #5c5c5c;
    }

    .close-icon {
        cursor: pointer;
        position: fixed;
        left: 20%;
        top: 30px;
    }
    
    .side-nav li:first-child {
        margin-top: 18vh;
    }
}

@media (max-width: 800px) {
    .side-nav {
        padding: 0 6% 0 8%;
    }
    
    .close-icon {
        left: 25%;
    } 
}

@media (max-width: 450px) {
    .nav-logo {
        margin-right: 15%;
    }
    
    .side-nav {
        padding: 0 15% 0 10%;
    }
    
    .close-icon {
        left: 32%;
    }           
}